<h1 class="fw-normal p-4 text-center">Faculty Registration Page</h1>
<div class="row g-0">
    <div class="col-lg-6 bg-1 ">
        <div class="p-5">
            <h2 class="fw-normal mb-5">General Infomation</h2>
            <div class="mb-4 pb-2">
                <div class="form-outline form-white">
                    <label class="form-label">Full Name:</label>
                    <input type="text"  class="form-control form-control-lg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                    <div>
                        <label class="form-label">ID:</label>
                        <input type="text" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                    <div>
                        <label class="form-label">DOB:</label>
                        <input type="date" class="form-control form-control-lg" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                    <div>
                        <label class="form-label">Qualification:</label>
                        <input type="text" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                    <div>
                        <label class="form-label">Department:</label>
                        <select class="form-select form-select-lg ">
                            <option selected disabled >Select Department</option>
                            <option >CSE</option>
                            <option >ECE</option>
                            <option >IT</option>
                            <option >EEE</option>
                            <option >CE</option>
                            <option >ME</option>
                            <option >BSH</option>
                            <option >MBA</option>
                            <option >MCA</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-6 bg-2 text-white">
        <div class="p-5">
            <h2 class="fw-normal mb-5">Contact Details</h2>
            <div class="mb-4 pb-2">
                <div>
                    <label  class="form-label">Address</label>
                    <input type="text" class="form-control form-control-lg" />
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                    <div>
                        <label class="form-label">Mobile:</label>
                        <input type="text" class="form-control form-control-lg" />
                    </div>
                </div>
                <!--<div class="col-md-6 mb-4 pb-2">
                    <div>
                        <label class="form-label">Parent Mobile:</label>
                        <input type="text" class="form-control form-control-lg" />
                    </div>
                </div>-->
                <div class="mb-4 pb-2">
                    <div>
                        <label  class="form-label">Email:</label>
                        <input type="email" class="form-control form-control-lg" />
                        
                    </div>
                </div>
            </div>
        </div> 
    </div>
   
</div>
<button type="button" class="btn btn-success btn-lg mt-3" data-mdb-ripple-color="dark">Register</button>
