<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar  shadow bg-white sticky-top">
        <div>
            <img src="../../assets/neclogo.png" width="450px">
        </div>
        <div>
            <h1>EXAMINATION PORTAL</h1>
        </div>
            <div>
                <a class="nav-link" href="/nav/home" >Home</a>
            </div>
            <div>
                <a class="nav-link" href="/nav/login" >Login</a>
            </div>
        <div >
            <img src="../../assets/neclogo2.png" width="200px">
        </div>
        
    </nav>
</body>
</html>
<router-outlet></router-outlet>