<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<app-loginnav></app-loginnav>
<div class="sidebar">
  <a class="active" href="faculty" >Home</a>
  <a href="faculty/marks-update">Student Marks Update</a>
  <a href="faculty/marks-view">Student Marks View</a>
  <a href="faculty/view-profile">View Profile</a>
  <a href="faculty/change-password">Change Password</a>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
</body>
</html>
